@using Tjzx.BLL.Config
@using Tjzx.Official.BLL.Config
@{
    var config = ConfigUtils<IndexConfig>.Instance().Get();
}
<footer>
    <div class="t-footer">
        <div class="t-footer-item t-footer-package">
            <h3>体检套餐</h3>
            <ul>
                @if (config != null && config.Categories != null)
                {
                    foreach (var category in config.Categories)
                    {
                        <li><a href="/packages/@category.CategoryId">@category.CategoryName</a></li>
                    }
                }
            </ul>
        </div>
        <div class="t-footer-item t-footer-links">
            <h3>友情链接</h3>
            <ul>
                @if (config != null && config.FriendsLink != null)
                {
                    foreach (var link in config.FriendsLink.OrderBy(t => t.Sort))
                    {
                        <li><a href="@link.Link" target="_blank" title="@link.Title">@link.Title</a></li>
                    }
                }
            </ul>
        </div>
        <div class="t-footer-item t-footer-helper">
            <h3>健康助手</h3>
            <ul>
                <li><a href="#">健康资讯</a></li>
                <li><a href="#">健康知识</a></li>
                <li><a href="#">健康工具</a></li>
            </ul>
        </div>
        <div class="t-footer-contact">
            <h3>服务热线</h3>
            <p><strong>个人：028-87394720</strong></p>
            <p><strong>团队：028-87394720</strong></p>
            <p>地址：成都市一环路西二段32号</p>
        </div>
    </div>
    <div class="t-copyright">
        <div class="t-copyright-box">
            <div class="copyright">版权所有：四川省人民医院·健康体检中心 | 健康管理中心  蜀ICP备08110606号</div>
            <div class="t-footer-fn">
                <div class="t-share">
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                        <a href="#" class="bds_renren" data-cmd="renren"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                    </div>
                    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {}, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                </div>
                <div class="t-statistics">
                    <!--百度统计-->
                    <script type="text/javascript">
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Faf89062e689c1f4be120d5c8791a3fa0' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="//ued.tjzx.com/js/jquery.min.js"></script>
<script src="//ued.tjzx.com/js/tjzx/page-common.min.js"></script>
