@using Tjzx.Official.Controllers.ViewModels;
@{
    var config = IndexConfig.Get();
}
<footer>
    <ul>
        @if (config != null && config.FriendsLink != null)
        {
            foreach (var link in config.FriendsLink.OrderBy(t => t.Sort))
            {
                <li><a href="@link.Link" title="@link.Title">@link.Title</a></li>
            }
        }
    </ul>
</footer>
<script src="//ued.tjzx.com/js/jquery.min.js"></script>
<!--百度统计-->
@*<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Faf89062e689c1f4be120d5c8791a3fa0' type='text/javascript'%3E%3C/script%3E"));
</script>*@