<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @{
        Html.RenderPartial("_Header");
    }
    @RenderSection("Header", false)
</head>
    <body>
        @{Html.RenderPartial("_BaseJs");}
        @{Html.RenderPartial("_Menu");}
        <div class="t-box">
            @RenderBody()
        </div>
        @{
            Html.RenderPartial("_Footer");
        }
        @RenderSection("Footer",false)
    </body>
</html>
