@using Tjzx.BLL.Config
@using Tjzx.Official.BLL.Config
@{
    var config = ConfigUtils<IndexConfig>.Instance().Get();
}
<header>
    <div class="t-top">
        <div class="t-logo-box">
            <a class="t-logo" href="/">
                <img src="//ued.tjzx.com/img/logo.jpg" width="215px" height="54px" alt="体检中心"/>
            </a>
            <div class="t-desc">
                国内首家专业体检机构<br/>
                开创四川省"医检分离"的全新体检模式
            </div>
        </div>
        <div class="t-service">
            <h2>全国统一服务热线</h2>
            <h3>个人：028-87394720</h3>
            <h3>团队：028-87394720</h3>
        </div>
    </div>
    <nav>
        <ul class="t-nav">
            <li class="active">
                <a href="/">首页</a>
            </li>
            @if (config != null && config.Navigations != null)
            {
                foreach (var nav in config.Navigations)
                {
                    string attr = string.Empty, css = string.Empty;
                    if (!string.IsNullOrEmpty(nav.Class))
                    {
                        css= nav.Class;
                    }
                    if (!string.IsNullOrEmpty(nav.Target))
                    {
                        attr = string.Format(" target={0}", nav.Target);
                    }
                    <li class="@css">
                        <a href="@nav.Link"@attr>@nav.Name</a>
                    </li>
                }
            }
        </ul>
    </nav>
    <script type="text/javascript">
        (function () {
            //设置导航
            var navs = document.getElementsByTagName("nav")[0].getElementsByTagName("a"),
            url = location.href;
            for (var i = 1; i < navs.length; i++) {
                var href = navs[i].getAttribute("href").toLowerCase();
                if (/\/item\/\d+/.test(url))
                    url = "/packages";
                if (url.indexOf(href) >= 0) {
                    navs[0].parentNode.className = "";
                    navs[i].parentNode.className += " active";
                    break;
                }
            }
        })();
    </script>
</header>