@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.SINGER = { compatible: true }</script>
}
<div>@Html.ActionLink("首页","Index")</div>
<div>About</div>