@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.SINGER = { compatible: true }</script>
    <style type="text/css">
        .t-about-img,.t-about-info {
            float: left;
            margin-top: 30px;
        }
        .t-about-img {
            width: 40%;
            height: 350px;
            border: 1px solid #ccc;
        }
        .t-about-info {
            width: 35%;
            text-align: center;
            line-height: 40px;
        }
    </style>
}
<div class="t-box">
    <div class="t-location">
        <h3>当前位置：首页 > 关于我们</h3>
    </div>
    <div class="t-panel-box">
        <div class="t-panel-title">关于我们</div>
        <div class="t-about-img">
        
        </div>
        <div class="t-about-info">
            <h3>我们的精神</h3>
            <p>厚德、至善、求精、图强</p>
            <h3>我们的宗旨</h3>
            <p>全心全意为人民的健康服务</p>
        </div>
    </div>
</div>