@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.shoy.com/css/tjzx/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.TJZX = { compatible: true }</script>
}
@model Tjzx.Official.BLL.ViewModels.PackageInfo
@{
    ViewBag.Title = Model.Name + " - 套餐详情";
}
<div class="t-box">
    <div class="t-location">
        <h3>当前位置：首页 > 体检套餐 > @Model.Name</h3>
    </div>
    <div class="d">
        <img src="@Model.Picture" />
        套餐名称：@Model.Name<br/>
        适用人群：@Model.ForTheCrowd<br/>
        套餐特点：@Model.Feature<br/>
        人气指数：@Model.Sort<br/>
        套餐详情：@Html.Raw(Model.Details)<br/>
    </div>
</div>