@using Tjzx.Official.BLL
@model Tjzx.Official.BLL.ViewModels.NewsInfo
@{
    ViewBag.Title = Model.Title +  " - 健康资讯";
}
@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/page-news.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.TJZX = { compatible: true }</script>
}
<div class="t-location">
    <h3>当前位置：首页 > 健康资讯 > @Model.Title</h3>
</div>
<div class="t-panel-box">
    <div class="t-panel-title">资讯详情</div>
    <div class="t-news-box">
        <h2>@Model.Title</h2>
        <h3>
            <span>来源：@Model.Comefrom</span>
            <span>作者：@Model.Author</span>
            <span>发布时间：@Const.FormatDate(Model.CreateOn)</span>
            <span>浏览次数：@Model.Views</span>
        </h3>
        <div class="t-news-content">@Html.Raw(Model.Content)</div>
    </div>
</div>