@{
    ViewBag.Title = "新闻资讯";
}
@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/page-news.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/base-responsive.min.css" media="all" />
    <link href="//ued.tjzx.com/css/h-pager.min.css?t=20140408" rel="stylesheet" type="text/css" />
    <script type="text/javascript">window.TJZX ={ compatible: true }</script>
}
<div class="t-location">
    <h3>当前位置：首页 > 新闻资讯</h3>
</div>
<div class="t-panel-box">
    <div class="t-panel-title">新闻资讯</div>
    <ul class="t-news-list">
    </ul>
    <div class="h-pager"></div>
</div>
<script type="text/h-temp" id="h-temp">
    <li>
        <h4><a href="/news/{id}">{title}</a><span>{comefrom}</span><span>{author}</span><span>{time}</span></h4>
        <div class="t-content">
            {content}
        </div>
    </li>
</script>
<script type="text/h-temp" id="h-empty">
    <div class="t-empty">
        暂无新闻资讯！
    </div>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/hTemplate.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/page-news.min.js"></script>
}