@section Header{
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/page-package.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/h-pager.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="//ued.tjzx.com/css/tjzx/base-responsive.min.css" media="all" />
    <script type="text/javascript">window.TJZX = { compatible: true }</script>
}
<div class="t-box">
    <div class="t-location">
        <h3>当前位置：首页 > 体检套餐</h3>
    </div>
    <div class="t-panel-box clearfix">
        <div class="t-panel-title">体检套餐</div>
        <ul class="t-package-list">
        </ul>
        <div class="h-pager"></div>
    </div>
</div>
<script type="text/template" id="h-temp">
    <li>
        <a href="/item/{id}" title="{name}">
            <img src="{picture}" />
        </a>
        <p class="p-name"><a href="/item/{id}" title="{name}">{name}</a></p>   
        <div class="p-feature">
            <h4>套餐特点</h4>
            <span>{feature}</span>
            <a href="#">立即预约</a>
            <a href="#">收藏套餐</a>
        </div>
    </li>
</script>
<script type="text/template" id="h-empty">
    <div class="t-empty">
        暂无体检套餐！
    </div>        
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/hTemplate.min.js"></script>
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/page-package.min.js"></script>
}