.t-package-list {
  position: relative;
}
.t-package-list li {
  float: left;
  width: 240px;
  padding: 5px 10px;
  margin: 5px 15px 10px;
  border: 1px solid #cccccc;
  position: relative;
}
.t-package-list li.active {
  background-color: #eeeeee;
  border-color: #428bca;
}
.t-package-list li.active a {
  color: #428bca;
}
.t-package-list li.active .p-feature {
  padding: 5px 0;
  height: 50px;
  line-height: 25px;
  bottom: -60px;
  border: 1px solid #428bca;
  border-top: none;
}
.t-package-list li a {
  display: block;
  text-align: center;
}
.t-package-list li a img {
  width: 240px;
  height: 240px;
}
.t-package-list li .p-name {
  text-align: center;
  line-height: 24px;
  height: 24px;
}
.t-package-list li .p-feature {
  text-indent: 2em;
  position: absolute;
  bottom: 0;
  z-index: 20;
  left: -1px;
  right: -1px;
  overflow: hidden;
  background-color: #eeeeee;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.h-pager {
  float: left;
  width: 100%;
}
