<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @RenderSection("Header",false)
</head>
<body>
    @RenderBody()
    @RenderSection("Footer",false)
</body>
</html>
