img {
  max-width: 100%;
  height: auto;
  width: auto !important;
  /* ie8 */
}
.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}
header {
  background-color: #eeffee;
  color: #446633;
  margin: 0 auto 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 3px 3px 2px #336666;
  -webkit-box-shadow: 0 3px 3px 2px #336666;
  -moz-box-shadow: 0 3px 3px 2px #336666;
  width: 1000px;
}
header nav {
  line-height: 28px;
}
.t-box {
  margin: 0 auto;
  width: 1000px;
}
footer {
  background-color: #eeffee;
  margin: 10px auto 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 3px 2px #2b5555;
  -webkit-box-shadow: 0 2px 3px 2px #2b5555;
  -moz-box-shadow: 0 2px 3px 2px #2b5555;
  width: 1000px;
}
