<?xml version="1.0"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <navigations>
    <item id="1" name="关于我们" class="" sort="1" link="/about" target="" />
    <item id="2" name="新闻资讯" class="" sort="2" link="/news" target="" />
    <item id="3" name="体检套餐" class="hot" sort="3" link="/packages" target="" />
    <item id="4" name="体检预约" class="hot" sort="4" link="/reservation" target="" />
    <item id="5" name="健康管理" class="hot" sort="5" link="/h" target="" />
    <item id="6" name="中心概况" class="" sort="6" link="/overview" target="" />
    <item id="7" name="咨询交流" class="" sort="7" link="/exchanges" target="" />
    <item id="8" name="联系我们" class="" sort="8" link="/contact" target="" />
  </navigations>
  <sliders>
    <item id="1" url="http://ued.tjzx.com/img/pic01.jpg" title="图片01" link="http://www.baidu.com" sort="4" />
    <item id="2" url="http://ued.tjzx.com/img/pic02.jpg" title="图片02" link="http://www.baidu.com" sort="1" />
    <item id="3" url="http://ued.tjzx.com/img/pic03.jpg" title="图片03" link="http://www.baidu.com" sort="3" />
    <item id="4" url="http://ued.tjzx.com/img/pic04.jpg" title="图片04" link="http://www.baidu.com" sort="2" />
  </sliders>
  <categories>
    <item url="/" name="青少年体检套餐" cateId="1" sort="1" />
    <item url="/" name="压力族体检套餐" cateId="2" sort="2" />
    <item url="/" name="贵宾族体检套餐" cateId="3" sort="3" />
    <item url="/" name="VIP体检套餐" cateId="4" sort="4" />
  </categories>
  <friends>
    <item id="1" title="四川省人民医院" link="http://www.samsph.com/" sort="2" />
    <item id="2" title="四川省卫生厅" link="http://www.scwst.gov.cn/" sort="1" />
  </friends>
</root>