<?xml version="1.0"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <menus>
    <item id="1" pid="0" depth="0" name="内容管理" role="0" sort="1" cls="icon-04" />
    <item id="2" pid="0" depth="0" name="健康管理" role="0" sort="2" cls="icon-05" />
    <item id="3" pid="0" depth="0" name="系统管理" role="0" sort="3" cls="icon-01" />
    <item id="101" pid="1" depth="1" name="健康资讯" link="/m/news/index" role="1" sort="1" cls="icon-01" />
    <item id="102" pid="1" depth="1" name="套餐分类" link="/m/category/index" role="2" sort="2" cls="icon-02" />
    <item id="103" pid="1" depth="1" name="体检套餐" link="/m/package/index" role="2" sort="3" cls="icon-03" />
    <item id="103" pid="1" depth="1" name="流程及事项" link="/m/process/index" role="2" sort="4" cls="icon-03" />
    <item id="103" pid="1" depth="1" name="预约列表" link="/m/reservation/index" role="4" sort="5" cls="icon-03" />
    <item id="103" pid="1" depth="1" name="咨询交流" link="/m/consulting/index" role="8" sort="6" cls="icon-03" />
    <item id="103" pid="1" depth="1" name="图片专栏" link="/m/picture/index" role="16" sort="7" cls="icon-03" />
    <item id="201" pid="2" depth="1" name="会员管理" link="/m/member/index" role="32" sort="1" cls="icon-03" />
    <item id="201" pid="2" depth="1" name="健康管理" link="/m/health/index" role="32" sort="2" cls="icon-03" />
    <item id="202" pid="2" depth="1" name="健康评估" link="/m/assess/index" role="32" sort="3" cls="icon-03" />
    <item id="301" pid="3" depth="1" name="用户管理" link="/m/user/index" role="64" sort="1" cls="icon-03" />
  </menus>
</root>