<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=Shoy-PC\EXPRESS;Initial Catalog=TjzxDB; Integrated Security=True; User ID=tjzxdb;Password=tjzx.131460" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>