<?xml version="1.0"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <uploader base="/upload/">
    <dir>
      <item>新闻资讯</item>
      <item>中心公告</item>
    </dir>
    <imageExts>.jpg,.jpeg,.gif,.png</imageExts>
    <imageLimit>500</imageLimit>
    <attachExts>.rar,.zip,.doc,.docx,.txt,.pdf,.swf,.avi,.rm,.rmvb,.mp4</attachExts>
    <attachLimit>30720</attachLimit>
  </uploader>
</root>