@section Header{
    <link href="//ued.shoy.com/css/tjzx/m/page-login.min.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "登录";
}
<div class="m-login">
    <div class="m-form">
        <div class="m-form-head">健康体检中心 - 后台管理系统</div>
        <div class="m-form-group">
            <label class="m-form-label">用户名</label>
            <div class="m-form-controls">
                <input type="text" name="userName" data-valid="{type:'^[a-z0-9]{4,16}$',msg:'请输入4-16位的用户名！'}" />
                <span class="m-form-tip"></span>
            </div>
        </div>
        <div class="m-form-group">
            <label class="m-form-label">密　码</label>
            <div class="m-form-controls">
                <input type="password" name="userPwd" data-valid="{type:'^[\\w\\W]{4,16}$',msg:'请输入4-16位的密码！'}" />
                <span class="m-form-tip"></span>
            </div>
        </div>
        <div class="m-form-group">
            <label class="m-form-label">验证码</label>
            <div class="m-form-controls">
                <input type="text" class="text-code" name="vCode" data-valid="{type:'^[a-z0-9]{4}$',msg:'请输入4位验证码！'}" />
                <img src="/common/vcode" class="j-vcode" alt="换一张" />
                <span class="m-form-tip"></span>
            </div>
        </div>
        <div class="m-form-actions">
            <button type="button" class="btn btn-primary j-login" data-tag="登录中...">登　录</button>
        </div>
    </div>
</div>
@section Footer{
    <script type="text/javascript" src="//ued.shoy.com/js/tjzx/m/m-base.min.js"></script>
    <script type="text/javascript" src="//ued.shoy.com/js/plugs/Jq-form.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $('input[name="userName"]').focus();
        })(jQuery);
        var valid = $(".m-form").valid();
        var setBtn = function(obj, state) {
            var $btns = $(obj);
            if (state) {
                $btns.removeAttr("disabled").removeClass("disabled");
            } else {
                $btns.attr("disabled", "disabled").addClass("disabled");
            }
            $btns.each(function(i) {
                var $item = $btns.eq(i);
                if ($item.data("state") != state) {
                    var tag = $item.html();
                    $item.html($item.data("tag") || tag + "中...");
                    $item.data("tag", tag).data("state", state);
                }
            });
        };
        var resetVCode = function() {
            $(".j-vcode").attr("src", "/common/vcode?t=" + Math.random());
        };
        $(document)
            .delegate(".j-vcode", "click", function () {
                resetVCode();
            })
            .delegate(".m-form input[name]", "keypress", function (e) {
                if (13 === e.keyCode) {
                    $(".j-login").click();
                }
            })
            .delegate(".j-login", "click", function () {
                if ($(this).hasClass("disabled") || !valid.check()) return false;
                setBtn(this, false);
                var formData = valid.json();
                $.ajax({
                    url: "/m/login",
                    type: "post",
                    dataType: "json",
                    data: formData,
                    success: function (json) {
                        if (json && json.state) {
                            var url = singer.uri().return_url || "/m";
                            location.href = url;
                        } else {
                            Alert(json.msg || "登录异常！", function() {
                                json.code && $("input[name='" + json.code + "']").focus();
                            });
                            resetVCode();
                            setBtn(".j-login", true);
                        }
                    },
                    error: function (msg) {
                        Alert(msg || "登录异常！");
                        resetVCode();
                        setBtn(".j-login", true);
                    }
                });
                return false;
            });
    </script>
}
