@section Header{
    <link href="//ued.tjzx.com/css/tjzx/m/main.min.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "后台首页";
    var user = Tjzx.Official.BLL.User.GetUser();
    if (user == null)
    {
        Response.Redirect(FormsAuthentication.LoginUrl, true);
        return;
    }
}
<div class="m-top">
    <div class="m-logo">
        
    </div>
    <div class="m-nav">
        <ul>
        </ul>
    </div>
    <div class="m-info">
        您好，<a href="/m" class="m-name">@user.UserName</a> - <a href="/m/loginout">[安全退出]</a>
    </div>
</div>
<div class="m-content">
    <div class="m-menu">
        <div class="m-fast">
            <a href="/">网站首页</a>
            <em></em>
            <a href="/m">后台首页</a>
        </div>
        <div class="m-menus">
            <ul>
            </ul>
        </div>
    </div>
    <div class="m-page">
        <div class="m-iframe-father">
            <div class="m-iframe">
                <dl class="m-crumbs">
                    <dt><i class="icon-home"></i>
                        <span>当前位置：</span>
                    </dt>
                </dl>
                <iframe frameborder="0" id="framePage" name="framePage" scrolling="no" src=""></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/h-temp" id="h-topMenu">
    <li data-id="{id}">
        <a href="#"{active}>
            <i class="{cls}"></i>
            {name}
        </a>
    </li>    
</script>
<script type="text/h-temp" id="h-menu">
    <li>
        <a href="{link}" title="{name}">
            <i class="{cls}"></i>
            {name}
        </a>
    </li>    
</script>
@section Footer{
    <script type="text/javascript" src="//ued.tjzx.com/js/tjzx/m/page-main.min.js"></script>
}
